{
    "version": "{{VERSION}}",
    "description": "TorbScript toolchain: a functional-first language with value semantics",
    "homepage": "https://torb.dev",
    "license": "MIT",
    "architecture": {
        "64bit": {
            "url": "https://github.com/{{REPOSITORY}}/releases/download/v{{VERSION}}/torb-{{VERSION}}-windows-x64.zip",
            "hash": "{{SHA256_WINDOWS_X64}}"
        }
    },
    "extract_dir": "torb-{{VERSION}}-windows-x64",
    "bin": "bin\\torb.exe",
    "checkver": {
        "url": "https://torb.dev/download/versions.txt",
        "regex": "^([\\d.]+) stable"
    },
    "autoupdate": {
        "architecture": {
            "64bit": {
                "url": "https://github.com/{{REPOSITORY}}/releases/download/v$version/torb-$version-windows-x64.zip"
            }
        },
        "extract_dir": "torb-$version-windows-x64"
    }
}
